@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "chopin";
  src: url("../fonts/ChopinScript.otf") format("woff");
}
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(48, 48, 48, 0.9294117647);
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 80vh;
}

.main_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
@media (max-width: 599px) {
  .main_wrapper {
    flex-direction: column;
  }
}

.main_container_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url(../images/worldmap_us.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100%;
  flex: 1;
  opacity: 0;
  -webkit-animation-name: aniBox;
          animation-name: aniBox;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 599px) {
  .main_container_left {
    flex: 0;
  }
}
@media (max-width: 599px) {
  .main_container_left {
    padding-top: 10%;
  }
}

.brand_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 600px;
}
@media (max-width: 599px) {
  .brand_logo_container {
    height: 220px;
  }
}

.brand_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  -webkit-animation-name: aniLogo;
          animation-name: aniLogo;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
.brand_img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 599px) {
  .brand_img img {
    height: 100px;
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .brand_img {
    width: 70%;
    height: 40%;
  }
}

.brand_name_1, .brand_name_2 {
  width: 400px;
  font-size: 5rem;
  text-align: center;
  transition: all 1s ease;
  cursor: pointer;
  -webkit-animation-name: aniLogo;
          animation-name: aniLogo;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
.brand_name_1 p, .brand_name_2 p {
  line-height: 20px;
  color: #ffffff;
  font-family: chopin;
}
@media (max-width: 599px) {
  .brand_name_1, .brand_name_2 {
    font-size: 3.5rem;
  }
}

.brand_name_2 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  opacity: 0;
}
.brand_name_2 p {
  color: #ffffff;
  padding-top: 20px;
  line-height: 65px;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 599px) {
  .brand_name_2 {
    font-size: 1.5rem;
  }
}

.main_container_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
@media (max-width: 599px) {
  .main_container_right {
    width: 100%;
    justify-content: flex-start;
  }
}

#announcement {
  width: 100%;
  color: #000;
  margin-top: 10px;
}

/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden;
  /* HIDE SCROLL BAR */
  background: #eee;
  width: 60%;
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
  display: flex;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@-webkit-keyframes tickerh {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-400%, 0, 0);
  }
}
@keyframes tickerh {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-400%, 0, 0);
  }
}
.hmove {
  -webkit-animation: tickerh linear 65s infinite;
          animation: tickerh linear 65s infinite;
}

.hmove:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.grid_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.angry-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 90%;
  width: 50%;
}

.grid-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  opacity: 0;
  -webkit-animation-name: aniBox;
          animation-name: aniBox;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.grid-items img {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: grayscale(100%) brightness(80%);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.grid-items a {
  text-decoration: none;
}

#item-1 {
  margin-left: 10rem;
}

#item-2 {
  margin-left: 10rem;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4352941176);
  color: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  transition: all 1.5s ease;
  position: relative;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  -webkit-animation-name: aniBox;
          animation-name: aniBox;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}
.info-container span {
  width: 100%;
  text-align: center;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3411764706);
  z-index: 99;
}
@media (max-width: 599px) {
  .info-container span {
    font-size: 12px;
  }
}

.info-container span {
  opacity: 0;
  -webkit-animation-name: aniBox;
          animation-name: aniBox;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 99;
}

.info_wrapper {
  width: 100%;
}

.info-container::before {
  content: "";
  height: 0%;
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
  background-color: #ffffff;
  -webkit-animation-name: aniBox2;
          animation-name: aniBox2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#footer {
  background: #000;
}

@-webkit-keyframes aniLogo {
  from {
    opacity: 0;
    transform: translateY(-1px);
  }
  to {
    opacity: 1;
    transform: translateY(-40px);
  }
}

@keyframes aniLogo {
  from {
    opacity: 0;
    transform: translateY(-1px);
  }
  to {
    opacity: 1;
    transform: translateY(-40px);
  }
}
@-webkit-keyframes aniBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes aniBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes aniBox2 {
  from {
    opacity: 0;
    z-index: 99;
    position: absolute;
  }
  to {
    opacity: 1;
    height: 100%;
    z-index: 99;
    position: absolute;
  }
}
@keyframes aniBox2 {
  from {
    opacity: 0;
    z-index: 99;
    position: absolute;
  }
  to {
    opacity: 1;
    height: 100%;
    z-index: 99;
    position: absolute;
  }
}/*# sourceMappingURL=main.css.map */
